*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: capitalize;
    transition: .2s linear;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -ms-transition: .2s linear;
    -o-transition: .2s linear;
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: "cairo", sans-serif;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 5px 20px;
    cursor: pointer;
    font-size: 25px;
    text-transform: capitalize;
    color: black;
    background-color: #fac564;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.btn:hover{
    background-color: #fac564;
}
.heading{
    text-align: center;
    color: black;
    text-transform: uppercase;
    padding: 42px 0;
    font-size: 2rem;
}
.heading span{
    color: #fac564;
    text-transform: uppercase;
}
.heading-main{
    background-color: #ccc;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-flow: column;
    min-height: 15rem;
}
.heading-main h3{
    font-size: 4rem;
    color: #fac564;
}
.heading-main h3 span{
    color: #000000;
}
.heading-main p a{
    font-size: 1.8rem;
    color: #fac564;
}
.heading-main p span{
    font-size: 1.8rem;
    color: #000000;
}
.title{
    text-align: center;
    padding-top: 20px;
    font-size: 4rem;
    color: #222;
    text-decoration: underline;
    text-underline-offset: 1.2rem;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* Small */

@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}


/* Start Header */
.header{
    background-color: white;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1000;
    top: 0; left: 0; right: 0;

}
.header .logo img{
    height: 80px;
}
.header  .navbar a{
    margin: 0 16px;
    font-size: 18px;
    color: black;

}
.header .container .navbar a:hover{
    color: #fac564;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.header .container .icons > *{
    font-size: 18px;
    color: black;
    margin-left: 24px;
    cursor: pointer;
}
.header .container .icons > *:hover{
    color: #fac564;
}
@media (min-width: 768px) {
    .header .container .icons #menu-btn{
        display: none;
    }
}
@media (max-width: 767px) {
    .header .navbar{
        display: none;
    }
}

/* End Header */

/* Start Home */
.home{
    margin-bottom: -22px;
    background-color: #ececec;
}
.home .container{
    display: flex;
    gap: 1px;
    align-items: center;
    padding-top: 50px;
}
.home .container .content{
    flex: 1 1 50%;
    text-align: center;
}
.home .container .image{
    flex: 1 1 50%;
    padding-bottom: 20px;
}
.home .container .image img{
    max-width: 90%;
}
.home .content span{
    font-size: 40px;
    color: #fac564;
}
.home .content h3{
    font-size: 50px;
    padding: 32px 0;

}
@media (max-width: 992px){
    .home .container{
        padding-top: 20%;
    }
}
@media (max-width: 768px){
    .home .container{
        display: flex;
        flex-direction: column;
        padding-top: 60px;
    }
    .home .container .content{
        flex: auto;
    }

    .home .container .image img{
        width: 40%;
        margin: 60px 0 0 30%;

    }
}

/* End Home */

/* Start About */
.about{
    position: relative;
    /* background-image: url("../images/bg_4.jpg");
    background-size: cover;
    background-position: center; */
}
.about .heading{
    color: black;
}
.about .container{
    display: flex;
    align-items: center;
}

.about .image{
    flex: 1 1 40rem;
}
.about .image img{
    width: 100%;
}
.about .text{
    flex: 1 1 40rem;
    padding: 32px;
    color: black;
}
.about .text h3{
    font-size: 30px;
}
.about .text p{
    font-size: 18px;
    padding: 16px 0;
    line-height: 1.8;
}

@media (max-width: 768px){
    .about .container{
        display: flex;
        flex-wrap: wrap;
    }
}

.steps{
    background-color: #ececec;
}
.steps .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    padding: 2rem;
}
.steps .box{
    text-align: center;
    padding: 2rem;
    border: 1px solid #fac564;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.steps .box img{
    height: 15rem;
    margin-bottom: 1rem;
    width: 100%;
    object-fit: contain;
}

.steps .box h3{
    font-size: 1.5rem;
    margin: 1rem 0;
}
.steps .box p{
    font-size: 1rem;
    color: #777;
}

/* End About */


/* Start Service */
.service{
    background-color: #ececec;
}
.service .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 40px;
}
.service .container .box{
    background-color: #fff;
    border-radius: .5rem;
    padding:2rem;
    text-align: center;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.service .container .box img{
    width: 100%;
    margin-bottom: 2rem;
}

.service .container .box h3{
    font-size: 2.5rem;
}

.service .container .box p{
    padding:1rem 0;
    line-height: 2;
    font-size: 1.6rem;
}
/* End Service */

/* Start menu */

.menu .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    justify-content: center;
}
.menu h1{
    color: black;
}
.menu .box{
    text-align: center;
    position: relative;
    border: 1px solid #fac564;
    padding: 32px;
    overflow: hidden;
}
.menu .box .fa-eye,
.menu .box .fa-shopping-cart{
    position: absolute;
    top: 0;
    display: block;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    border: 1px solid #fac564;
    background-color: white;
    cursor: pointer;
    text-align: center;
}
.menu .box .fa-eye{
    left: -10rem;
    color: black;
}
.menu .box .fa-shopping-cart{
    right: -10rem;
}
.menu .container .box:hover .fa-eye{
    left: -1px;
    top: -1px;
}
.menu .container .box:hover .fa-shopping-cart{
    right: -1px;
    top: -1px;
}
.menu .container .box .fa-eye:hover{
    color: #fac564;
}
.menu .container .box .fa-shopping-cart:hover{
    color: #fac564;
}
.menu .box img{
    height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 2rem;
}

.menu .box .cat{
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
}
.menu .box .cat:hover{
    color: #fac564;
}
.menu .box .name{
    font-size: 1.2rem;
    margin: .8rem 0;

}
.menu .box .flex{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.menu .box .flex .price{
    margin-right: auto;
    font-size: 2.1rem;
}
.menu .box .flex .price span{
    font-size: 1.6rem;
}
.menu .box .flex .qty{
    padding: 2px;
    font-size: 1.8rem;
    border: 1px solid #fac564;
    width: 4rem;
}
.menu .more-btn{
    margin: 1rem 0;
    text-align: center;
}


/* End menu */

/* Start Contact */
.contact{
    background-color: #ececec;
}
.contact .container{
    display: flex;
    padding-bottom: 20px;
}
@media (max-width: 991px) {
    .contact .container{
        flex-wrap: wrap;
    }
}
.contact .heading{
    color: black;
}
.contact .image{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    position: relative;
}
@media (max-width: 991px) {
    .contact .image{
        flex-basis: 100%;
    }
}

.contact .form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
}

@media (max-width: 991px) {
    .contact .form{
        flex-basis: 100%;
    }
}
.contact .form .content form{
    padding-top: 24px;
}
.contact .form .input{
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    caret-color: #fac564;
}
.contact .form textarea.input{
    resize: none;
    height: 200px;
}
.contact .form input:focus{
    outline: none;
}
.contact .form [type="submit"]{
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #fac564;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.contact .content{
    text-align: center;
}
.contact .content h2{
    font-size: 40px;
    letter-spacing: -2px;
}
.contact .content p{
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
    padding-top: 24px;
}
.contact .content img{
    width: 300px;
    max-width: 100%;
    padding-top: 40px;
}

/* End Contact */

/* Start Impressum */
.impressum .content{
    padding: 50px;
}
.impressum .content h2{
    padding: 20px;
}
.impressum .content .box{
    padding: 20px;
}
/* End Impressum */

/* Start Footer */

.footer {
    background-color: black;
    padding: 70px 0 0;
}

.footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
}

.footer .box .social {
    display: flex;
}

.footer .box .social li {
    margin-right: 10px;
}

.footer .box .social li a {
    background-color: #313131;
    color: #898989;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.footer .box .social .facebook:hover {
    background-color: #1877f2;
}

.footer .box .social .twitter:hover {
    background-color: #1da1f2;
}

.footer .box .social .youtube:hover {
    background-color: #ff0000;
}

.footer .box .text {
    line-height: 2;
    color: #b9b9b9;
}

.footer .box .links li {
    padding: 15px 0;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
}

.footer .box .links li:hover {
    padding-left: 10px;
}

.footer .box .links li:hover a {
    color: #fac564;
}

.footer .box .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}

.footer .box .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 20px;
}

.footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}

.footer .box .line i {
    font-size: 25px;
    margin-right: 10px;
}
.footer .box .line i:hover{
    color: #fac564;
}

.footer .box .line .info {
    line-height: 1.7;
    flex: 1;
}

.footer .box .line .info span {
    display: block;
}

.footer .footer-gallery img {
    width: 78px;
    border: 1px solid #fac564;
    margin: 2px;
}

.footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin-top: 50px 0 0;
    border-top: 1px solid #444;
}

@media (max-width: 767px) {
    .footer {
        text-align: center;
    }
    .footer .box .social {
        justify-content: center;
    }
    .footer .box .line {
        flex-direction: column;
    }
    .footer .box .line i {
        margin-bottom: 10px;
    }
}


/* End Footer */